.tag {
  padding: var(--space-regular) var(--space-xl);
  font-size: var(--text-regular);
  background: var(--background-medium);
  width: fit-content;
  cursor: pointer;
  transition: var(--transition);
  border-radius: 24px;
  font-size: 0.85em;
  font-weight: 700;

  &:hover {
    background: var(--background-medium-hover);
  }
}
