.icon-wrapper {
  width: 48px;
  padding: 0 12px;
  cursor: pointer;
  display: flex;
  align-items: center;

  &.small {
    width: 32px;
    padding: 0 8px;
  }

  &.fill-white {
    fill: var(--low-contrast);
    transition: var(--transition);

    &:hover,
    &.active {
      fill: white;
    }
  }
}
