@import "../../assets/styles/layout.scss";

.dashboard {
  height: 100%;
  overflow-y: scroll;
  position: relative;

  &.scrolled {
    .header-wrapper {
      background-color: var(--background-low);
      transition: var(--transition);
    }
  }

  .dashboard-body {
    padding: var(--space-md);
    padding-top: 0;

    h3 {
      margin-bottom: var(--space-md);
    }
  }

  .header-wrapper {
    padding: var(--space-md);
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .header {
    display: flex;
    justify-content: space-between;

    .buttons {
      display: flex;
      gap: 0.25rem;
    }
  }

  .tags {
    display: flex;
    gap: var(--space-xxs);
    margin: var(--space-regular) 0;
    padding: 0 var(--space-xxxs);
  }

  .recents {
    @include grid;
    @include gridAuto(22%);

    .recent {
      display: flex;
      align-items: center;
      border-radius: 4px;
      overflow: hidden;
      background: var(--background-medium);
      height: 60px;

      .img {
        width: 60px;
        height: 60px;
        aspect-ratio: 1;
        display: flex;
        box-shadow: 1px -1px 10px 4px rgba(0, 0, 0, 0.125);
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .text {
        padding: var(--space-regular);
        font-weight: 700;
      }
    }
  }
}
