.radio-button-wrapper {
  display: flex;
  align-items: center;
  gap: var(--space-xs);

  input {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--low-contrast);
    margin: 0;
    transition: var(--transition);

    &:checked {
      box-shadow: inset 0px 0px 0px 4px var(--primary-active);
      border: none;
    }

    &:hover {
      border: 1px solid var(--primary-inactive);
    }
  }
}
