.signup {
  max-width: 350px;
  margin: 0 auto;
  padding-top: 4rem;

  h1 {
    font-size: 2rem;
    line-height: 1.25;
    margin-bottom: 3rem;
  }

  .form-control {
    margin-bottom: 4rem;
  }

  .step {
    &.step1 {
      .divider {
        display: flex;
        gap: 1rem;
        align-items: center;
        margin: 2.5rem 0;
        .line {
          width: 100%;
          background: var(--text-subtle);
          height: 0.25px;
        }
      }
      .redirect {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0.25rem;
        margin: auto;
        font-size: 0.9em;
        width: 100%;
        text-align: center;
      }
    }

    &.step2,
    &.step3 {
      .header-wrapper {
        display: flex;
        align-items: center;
        position: relative;

        .left {
          img {
            transition: var(--transition);
            &:hover {
              background: var(--low-contrast);
            }
            cursor: pointer;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            padding: var(--space-xs);
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            left: -40px;
          }
        }
        .header {
          display: flex;

          .header-title {
            .subtitle {
              margin-bottom: var(--space-xxxs);
              color: var(--text-subtle);
            }
          }
        }
      }

      .wrapper {
        margin-top: var(--space-xl);
      }
    }

    &.step2 {
      .wrapper {
        .instructions {
          margin-top: var(--space-xl);

          .points {
            padding-left: var(--space-md);
            list-style: none;

            .point {
              margin-bottom: var(--space-sm);
              position: relative;
              transition: var(--transition);

              &::before,
              &::after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: calc(-1 * var(--space-md));
                margin: auto;
                width: 14px;
                height: 14px;
                border: 1px solid white;
                border-radius: 50%;
              }

              &.active::after {
                opacity: 1;
              }
              &::after {
                --size: 9px;
                width: var(--size);
                height: var(--size);
                left: calc(-1 * var(--space-md) + 2.5px);
                background-color: var(--primary-active);
                border: none;
                opacity: 0;
              }
            }
          }

          .button-wrapper {
            margin-top: var(--space-xl);
          }
        }
      }
    }

    &.step3 {
      .wrapper {
        margin-top: var(--space-xl);
      }

      .label {
        color: white;
        pointer-events: none;
        transition: var(--transition);
        font-size: 1em;
        font-weight: 600;
        margin-bottom: var(--space-xxxs);
      }

      .sublabel {
        color: var(--low-contrast);
        pointer-events: none;
        transition: var(--transition);
        font-size: var(--text-sm);
        margin-bottom: var(--space-sm);
      }

      .options {
        display: flex;
        justify-content: space-between;
      }

      .button-wrapper {
        margin-top: var(--space-xxxl);
      }
    }
  }
}

.warning {
  font-size: var(--text-sm);
  padding: 1rem 1rem;
  background: #ffa42b;
  color: var(--on-primary);
  border-radius: 4px;
  display: flex;
  gap: 0.5rem;

  .link {
    color: var(--on-primary);
  }
  img {
    width: 20px;
    height: 20px;
  }
}
