@import "typography";
@import "layout";
@import "colors";
@import "shadows";
@import "transitions";
@import "variables";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-subtle);
  text-decoration: none;
  transition: var(--transition);
  text-decoration: underline;

  &:hover {
    color: var(--primary-hover);
    text-decoration: underline;
  }
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
}

.spinner {
  width: 16px;
  height: 16px;
  border-radius: 50px;
  border: 4px solid rgba(226, 226, 226, 0.458);
  border-top: 4px solid var(--on-primary);
  animation: spin 0.5s infinite;
}

div.divider {
  background-color: rgb(54, 54, 54);
  margin-block: 2rem;
  height: 0.1px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}

$prefix: "--"; // Prefix string for custom CSS properties

// Merges a variable name with $prefix
@function custom-property-name($name) {
  @return $prefix + $name;
}

// Defines a custom property
@mixin define-custom-property($name, $value) {
  #{custom-property-name($name)}: $value;
}

body {
  // Append SASS variables which are desired to be accesible:
  @include define-custom-property("left-sidebar-width", $left-sidebar-width);
}
